<ion-view class="homeView" hide-back-button="true" view-title="<i class='icon ion-chatbubble user-messages-top-icon'></i><div class='msg-header-username'>Quiz</div>">
		<!-- <div class="loader">
			<i class="icon ion-load-c"></i>
		</div> -->
	</div> -->
	<ion-content overflow-scroll="false" has-bouncing="true" class="has-header has-footer" delegate-handle="userMessageScroll">
		<ion-grid ng-if="!submited">
			<ion-list>
		  <ion-row class="q-padding" ng-repeat="quiz in quizs track by $index">
		    <ion-col>
					  <ion-item id="quiz{{$index}}" class="quiz-wrapper" >
							<h4>{{quiz.title}} #{{$index+1}}</h4>
								<div class="quizs-btn-wrapper">
									<div class="quiz-btn" ng-repeat="answer in quiz.answers track by $index">
										<button class="btn-q" ng-class="answer.picked? 'q-fade':'q-active'" ng-click="setQuiz(quizs.indexOf(quiz), $index);">
											<span class="btn-name" >{{optlabel[$index]}}</span>
											{{answer.text}}
										<span class="q-chechmark scale-in-bl" ng-if="answer.picked">
											<i class=" icon ion-checkmark-round"></i>
										</span>
										</button>
									</div>
								</div>
							</ion-item>

					</ion-col>
				</ion-row>

				<ion-row class="q-padding submit">
					<ion-col>
							<ion-item class="quiz-wrapper" style="border-bottom:0px;margin-bottom:9em">
								<div class="quizs-btn-wrapper">
									<div class="quiz-btn">
										<button class="btn-q" ng-click="sabmitData()" ng-disabled="getCount() < quizs.length">
											Submit
										</button>
									</div>
								</div>
							</ion-item>
						</ion-col>
					</ion-row>

					</ion-list>
			</ion-grid>

	</ion-content>
	<div ng-if="submited" class="submited scale-in-center">
		<i class="icon ion-checkmark-round"	></i>
		<div>Thanks for compliting</div>
		<!-- <button class="btn-q">Go back</button> -->
	</div>
	<ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
		<span></span>
		<span class="q-pagin">{{getCount()}} of {{quizs.length}}</span>
		<ul class="q-progress">
			<li class="q-progress-li" ng-repeat="quiz in quizs track by $index" id="prog{{$index}}"></li>
		</ul>
		<!-- <button type="button"><i class="ion-chevron-down"></i></button>
		<button type="button"><i class="ion-chevron-up"></i></button> -->
	</ion-footer-bar>
	</form>
</ion-view>
