<ion-view view-title="Login" name="login-view" ng-controller="LoginCtrl">
  <ion-content class="padding">
      <div class="list list-inset">
        <form class="" method="post" name="loginForm" novalidate>
          <label class="item item-input">
              <input type="email" name="email" placeholder="email" ng-model="data.email"
              ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine }" required>
          </label>
          <label class="item item-input">
              <input type="password" name="pass" placeholder="Password" ng-model="data.password"
              ng-class="{ 'has-error' : loginForm.name.$invalid && !loginForm.name.$pristine }" required>
          </label>
        </form>
      </div>
      <button class="button button-block button-calm" ng-click="login(loginForm)">Login</button>
  </ion-content>
</ion-view>
